BDLE 2021

date du document  :  13/10/2021 9:00

# PROJET DM1 : IMDB et YAGO (avec COLAB)


Mini-projet sur la restructuration de données et l'analyse de données.
Voir le moodle pour la date de remise et éventuelles précisions sur le travail à faire.
Concernant la forme attendue de vos commentaires: les cellules de texte vous permettent une mise en forme claire et soignée avec la syntaxe markdown.

## Préparation

Vérifier que des ressources de calcul sont allouées à votre notebook est connecté (cf RAM  de disque indiqués en haut à droite) . Sinon cliquer sur le bouton connecter pour obtenir des ressources.

Pour accéder directement aux fichiers stockées sur votre google drive. Renseigner le code d'authentification lorsqu'il est demandé

Ajuster le nom de votre dossier : MyDrive/ens/bdle/DM1

In [ ]:
import os
from google.colab import drive
drive.mount("/content/drive")

drive_dir = "/content/drive/MyDrive/ens/bdle/DM1"
os.makedirs(drive_dir, exist_ok=True)
os.listdir(drive_dir)

Mounted at /content/drive

['csvfiles_sample001',
 'csvfiles_sample001.tgz',
 'name.csv.gz',
 'title.csv.gz',
 'yago']

Installer pyspark et findspark :

In [ ]:
!pip install -q pyspark
!pip install -q findspark

     |████████████████████████████████| 281.3 MB 36 kB/s
     |████████████████████████████████| 198 kB 65.7 MB/s
  Building wheel for pyspark (setup.py) ... done

Démarrer la session spark

In [ ]:
import os
# !find /usr/local -name "pyspark"
os.environ["SPARK_HOME"] = "/usr/local/lib/python3.7/dist-packages/pyspark"
os.environ["JAVA_HOME"] = "/usr"

In [ ]:
# Principaux import
import findspark
from pyspark.sql import SparkSession 
from pyspark import SparkConf  

# pour les dataframe et udf
from pyspark.sql import *  
from pyspark.sql.functions import *
from pyspark.sql.types import *
from datetime import *

# pour le chronomètre
import time

# initialise les variables d'environnement pour spark
findspark.init()

# Démarrage session spark 
# --------------------------
def demarrer_spark():
  local = "local[*]"
  appName = "TP"
  configLocale = SparkConf().setAppName(appName).setMaster(local).\
  set("spark.executor.memory", "6G").\
  set("spark.driver.memory","6G").\
  set("spark.sql.catalogImplementation","in-memory")
  
  spark = SparkSession.builder.config(conf = configLocale).getOrCreate()
  sc = spark.sparkContext
  sc.setLogLevel("ERROR")
  
  spark.conf.set("spark.sql.autoBroadcastJoinThreshold","-1")

  # On ajuste l'environnement d'exécution des requêtes à la taille du cluster (4 coeurs)
  spark.conf.set("spark.sql.shuffle.partitions","4")    
  print("session démarrée, son id est ", sc.applicationId)
  return spark
spark = demarrer_spark()

session démarrée, son id est  local-1639079484242

In [ ]:
# on utilise 8 partitions au lieu de 200 par défaut
#spark.conf.set("spark.sql.shuffle.partitions", "8")
print("Nombre de partitions utilisées : ", spark.conf.get("spark.sql.shuffle.partitions"))

Nombre de partitions utilisées :  4

In [ ]:
# Optionnel :
# pour l'accès à spark UI : voir https://www.analyticsvidhya.com/blog/2020/11/a-must-read-guide-on-how-to-work-with-pyspark-on-google-colab-for-data-scientists/
# !wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
# !unzip ngrok-stable-linux-amd64.zip
# get_ipython().system_raw('./ngrok http 4050 &')
# !curl -s http://localhost:4040/api/tunnels

Redéfinir la fonction **display** pour afficher le resutltat des requêtes dans un tableau

In [ ]:
import pandas as pd
from google.colab import data_table

# alternatives to Databricks display function.

def display(df, n=100):
  return data_table.DataTable(df.limit(n).toPandas(), include_index=False, num_rows_per_page=10)

def display2(df, n=20):
  pd.set_option('max_columns', None)
  pd.set_option('max_colwidth', None)
  return df.limit(n).toPandas().head(n)

Définir le tag **%%sql** pour pouvoir écrire plus simplement des requêtes en SQL dans une cellule

In [ ]:
from IPython.core.magic import (register_line_magic, register_cell_magic, register_line_cell_magic)

def removeComments(query):
  result = ""
  for line in query.split('\n'):
    if not(line.strip().startswith("--")):
      result += line + " "
  return result

@register_line_cell_magic
def sql(line, cell=None):
    "To run a sql query. Use:  %%sql"
    val = cell if cell is not None else line
    tabRequetes = removeComments(val).split(";")
    for r in tabRequetes:
        if len(r.strip()) > 2:
          derniere = spark.sql(r)
    return display(derniere)

In [ ]:
# facultatif (à ne pas utiliser)
# %load_ext google.colab.data_table
# %unload_ext google.colab.data_table

## Accès aux données

URL pour l'accès aux datasets

In [ ]:
# URL du dossier PUBLIC_DATASET contenant des fichiers de données pour les TP
# ---------------------------------------------------------------------------
# en cas de problème avec le téléchargement des datasets, aller directement sur l'URL ci-dessous
PUBLIC_DATASET_URL = "https://nuage.lip6.fr/s/H3bpyRGgnCq2NR4" 
PUBLIC_DATASET=PUBLIC_DATASET_URL + "/download?path="

print("URL pour les datasets ", PUBLIC_DATASET_URL)

URL pour les datasets  https://nuage.lip6.fr/s/H3bpyRGgnCq2NR4

#### IMDB
Télécharger les fichiers de IMDB directement sur votre drive, sans passer par votre ordinateur personnel.

##### Sample: échantillon de la base IMDB

In [ ]:
import os
from urllib import request
import tarfile

imdb_dir = drive_dir

url = PUBLIC_DATASET + "/imdb/vldb2015/csvfiles_sample001.tgz"
# temp = "/temp"
local_file = imdb_dir + "/csvfiles_sample001.tgz"

os.makedirs(imdb_dir, exist_ok=True)

if(os.path.isfile(local_file)):
  print("file is already downloaded")
else:
  print("downloading from URL: ", url, "save in : ", local_file)
  request.urlretrieve(url, local_file)
  os.chdir(imdb_dir)
  tar = tarfile.open(local_file)
  tar.extractall()
  tar.close()

# Liste des fichiers de IMDB
dir = imdb_dir + "/csvfiles_sample001/"
os.listdir(dir)

file is already downloaded

['title.csv',
 'cast_info.csv',
 'movie_info.csv',
 'person_info.csv',
 'name.csv',
 'movie_companies.csv',
 'company_name.csv',
 'info_type.csv',
 'role_type.csv',
 'kind_type.csv',
 'company_type.csv']

##### Données complètes: name_all et title_all
Télécharger le fichier complet des noms de personnes et les titres de films

In [ ]:
import os
def load_IMDB_file(file):
  if(os.path.isfile( imdb_dir + "/" + file)):
    print(file, "is already stored")
  else:
    url = PUBLIC_DATASET + "/imdb/vldb2015/csvfiles/" + file
    print("downloading from URL: ", url, "save in : " + imdb_dir + "/" + file)
    request.urlretrieve(url , imdb_dir + "/"  + file)

load_IMDB_file("name.csv.gz")
load_IMDB_file("title.csv.gz")

# Liste des fichiers de IMDB
os.listdir(imdb_dir)

name.csv.gz is already stored
title.csv.gz is already stored

['csvfiles_sample001',
 'csvfiles_sample001.tgz',
 'name.csv.gz',
 'title.csv.gz',
 'yago']

In [ ]:
# name_all

schema_name = """
  id int,
  name string,
  imdb_index string,
  imdb_id int,
  gender string,
  name_pcode_cf string,
  name_pcode_nf string,
  surname_pcode string,
  md5sum string
"""

name_all = spark.read.csv(path = imdb_dir + "/name.csv.gz", schema = schema_name)
name_all.createOrReplaceTempView("name_all")
display(name_all)

In [ ]:
# title_all

schema_title = """
          id INT, 
          title STRING, 
          imdb_index STRING, 
          kind_id INT, 
          production_year INT, 
          imdb_id INT, 
          phonetic_code STRING, 
          episode_id STRING,
          season_nr INT, 
          episode_nr INT, 
          series_years STRING, 
          md5sum STRING
        """
title_all = spark.read.csv(path = imdb_dir + "/title.csv.gz", schema = schema_title)
title_all.createOrReplaceTempView("title_all")
display(title_all)

#### YAGO
Télécharger les fichiers de YAGO

In [ ]:
YAGO_dir = drive_dir + "/yago"

os.makedirs(YAGO_dir, exist_ok=True)

def yagoLoad(file):
  url = PUBLIC_DATASET + "/yago/yago4_2020/" + file
  local_file = YAGO_dir + "/" + file

  if(os.path.isfile( YAGO_dir + "/" + file)):
    print(file, "is already stored ")
  else:
    print("downloading from URL: ", url, "save in : ", local_file)
    request.urlretrieve(url, local_file)
    
yagoLoad("yago-actor-facts.snappy.orc")
yagoLoad("yago-person.snappy.orc")

# Liste des fichiers de YAGO
os.listdir(YAGO_dir)

yago-actor-facts.snappy.orc is already stored
yago-person.snappy.orc is already stored

['yago-actor-facts.snappy.orc', 'yago-person.snappy.orc']

##### Les personnes dans Yago

In [ ]:
yagoPerson = spark.read.orc(path = YAGO_dir + "/yago-person.snappy.orc")
yagoPerson.createOrReplaceTempView("yagoPerson")
display(yagoPerson)

##### Les faits des acteurs dans Yago

In [ ]:
actorFacts = spark.read.orc(path = YAGO_dir + "/yago-actor-facts.snappy.orc")
actorFacts.createOrReplaceTempView("actorFacts")
display(actorFacts)

## Définir les tables IMDB

Le dossier contenant les fichiers csv de IMDB

In [ ]:
dir = drive_dir + "/csvfiles_sample001/"

### Les tables initiales

#### Title
La table Title affecte un identifiant id à un film

In [ ]:
schema_title = """
          id INT, 
          title STRING, 
          imdb_index STRING, 
          kind_id INT, 
          production_year INT, 
          imdb_id INT, 
          phonetic_code STRING, 
          episode_id STRING,
          season_nr INT, 
          episode_nr INT, 
          series_years STRING, 
          md5sum STRING
        """

title = spark.read.csv(path = dir + "title.csv", schema = schema_title).persist()
title.createOrReplaceTempView("Title")
# display(title)

#### Kind_Type et Info_Type
* La table Kind_type
* La table Info_type indique la nature d'un attribut d'information. 

Sert dans Movie_Info, Person_Info

In [ ]:
#============
# Kind_Type
#============
schema_kind_type = "id INT, kind STRING"

kind_type = spark.read.csv(path = dir + "kind_type.csv", schema = schema_kind_type).persist()

kind_type.createOrReplaceTempView("Kind_Type")
# kind_type.printSchema()
#display(kind_type)



#==============
# Info_Type
#==============
schema_info_type = "id INT, info STRING"

info_type = spark.read.csv(path = dir + "info_type.csv", schema = schema_info_type).persist()

info_type.createOrReplaceTempView("Info_Type")
#info_type.printSchema()

display(info_type)

#### Movie_info

In [ ]:
#==============
# Movie_Info
#==============
schema_movie_info = """
    id int,
    movie_id int,
    info_type_id int,
    info string,
    note string
"""

movie_info = spark.read.csv(path = dir + "movie_info.csv", schema = schema_movie_info).persist()

movie_info.createOrReplaceTempView("Movie_Info")
#movie_info.printSchema()

display(movie_info)

#### Cast_Info

In [ ]:
#==============
# Cast_Info
#==============
schema_cast_info = """
  id int,
  person_id int,
  movie_id int,
  person_role_id int,
  note string,
  nr_order int,
  role_id int
"""

cast_info = spark.read.csv(path = dir + "cast_info.csv", schema = schema_cast_info).persist()

cast_info.createOrReplaceTempView("Cast_Info")
#cast_info.printSchema()

display(cast_info)

#### Role_type

In [ ]:
#=============
# Role_Type
#=============
schema_role_type = "id INT, role STRING"

role_type = spark.read.csv(path = dir + "role_type.csv", schema = schema_role_type).persist()

role_type.createOrReplaceTempView("Role_Type")
#role_type.printSchema()

display(role_type)

#### Name
La table Name affecte un identifiant id à une personne

In [ ]:
#==============
# Name 
#==============
schema_name = """
  id int,
  name string,
  imdb_index string,
  imdb_id int,
  gender string,
  name_pcode_cf string,
  name_pcode_nf string,
  surname_pcode string,
  md5sum string
"""

name = spark.read.csv(path = dir + "name.csv", schema = schema_name).persist()

name.createOrReplaceTempView("Name")
#name.printSchema()

display(name)

#### Person_Info

In [ ]:
#==============
# Person_Info
#==============
schema_person_info = """
  id int,
  person_id int,
  info_type_id int,
  info string,
  note string
"""

person_info = spark.read.csv(path = dir + "person_info.csv", schema = schema_person_info).persist()
person_info.createOrReplaceTempView("Person_Info")

display(person_info)

#### Movie_Companies

In [ ]:
#==============
# Movie_Companies
#==============
schema_movie_companies = """
    id int,
    movie_id int,
    company_id int,
    company_type_id int,
    note string
"""

movie_companies = spark.read.csv(path = dir + "movie_companies.csv", schema = schema_movie_companies).persist()

movie_companies.createOrReplaceTempView("Movie_Companies")
#movie_companies.printSchema()

display(movie_companies)

#### Company_Name

In [ ]:
schema_company_name = """
    id int,
    name string,
    country_code string,
    imdb_id int,
    name_pcode_nf string,
    name_pcode_sf string,
    md5sum string
"""

company_name = spark.read.csv(path = dir + "company_name.csv", schema = schema_company_name)
company_name.createOrReplaceTempView("Company_Name")
#company_name.printSchema()

display(company_name)

#### Company_type

In [ ]:
#==============
# Company_Type
#==============
schema_company_type = "id INT, kind STRING"

company_type = spark.read.csv(path = dir + "company_type.csv", schema = schema_company_type).persist()
company_type.createOrReplaceTempView("Company_Type")
#company_type.printSchema()

display(company_type)

### Detail sur les personnes et les oeuvres

#### TitleDetail

In [ ]:
%%sql
create or replace temp view TitleDetail as
select t.id, t.title, t.production_year, k.kind, it.info as property, m.info as value
from Title t, Movie_Info m, Info_type it, Kind_Type k
where t.id = m.movie_id 
and m.info_type_id = it.id
and t.kind_id = k.id
;

select * 
from TitleDetail t
order by  t.production_year desc, t.title
limit 100;

Mémoriser le résultat de TitleDetail pour éviter de le calculer plusieurs fois

In [ ]:
%%sql
cache table TitleDetail

#### NameDetail

In [ ]:
%%sql
create or replace temp view NameDetail as
select n.id, n.name, n.gender, i.info as property, p.info as value
from Name n, Person_Info p, Info_type i
where n.id = p.person_id
and p.info_type_id = i.id
;
 
select * 
from NameDetail n
where n.name like 'Smi%'
order by n.name, n.property
limit 100;

Mémoriser le résultat de NameDetail pour éviter de le calculer plusieurs fois

In [ ]:
%%sql
cache table NameDetail;

## QUESTIONS

### Exercice 1: Extraction d'information

Définir ces relations apportant des informations structurées sur les personnes. Le schéma de chaque table est donné à titre indicatif et vous pouvez l'adapter et le compléter si nécessaire.

#### Question 1 : Salary
 **Salary** (id, name, titleId, titleName, titleYear, salary, currency, frequency, extra) avec
  - *id* et *name* sont l'id et le nom de la personne
  - *titleId*, *titleName* et *titleYear* sont l'id, le titre et l'année du film
  - *salary* est le salaire perçu par une personne pour un film
  - *currency* est la devise du salaire
  - *frequency* indique si le salaire est pour le film, un épisode de la série, une semaine de tournage, etc...
  - *extra* est un complément de salaire (exple pourcentage sur le revenu du film)
 

Voir la propriété *salary history*. Le champ *titleId* peut être nul si aucune correspondance n'est trouvée dans la table TitleDetail. Le cas échéant, essayer de trouver une correspondance avec le fichier *title_all* contenant tous les films.

Remarque: Vous pouvez (mais ce n'est pas obligatoire) utiliser les associations entre une personne et un film contenues dans Cast_Info. Cependant il faudra compléter votre solution pour les références aux films qui ne seraient pas incluses dans Cast_info.

## Inspection des valeurs possibles en filtrant la propriété salary history

In [ ]:

%%sql 
select * from NameDetail n where n.property="salary history"

### Remarques:
* colone "value" correspondant a salary history est complexe et contient plusieurs informations, elle doit être parsée afin d'en extraire les sous-informations importantes pour générer la table Salary (valeur du salaire, devise, fréquence, extra )
* format obsérvé: _titleName(titleYear)_(qv)::currencysalary/frequency + extra% of profits
* pour certaines value, le salaire précède la currency
* / parfois remplacé par "per"
* "+" parfois remplacé par "plus"
* la valeur de certains extra n'est pas spécifié, information donnée: % of gross ou percentage of gross
* il y a certains titres qui sont entre "" et d'autres pas 
* certains salaires contiennent des mots/lettres tel que 'm', 'million, 'M', 'Million'....
* Le nom et l'année du film sont aussi spécifiés dans value, la seule information manquante concernant les films est TitleId. Nous pouvons la récupérer grâce à une jointure leftjoin avec la table en cache "TitleDetail"
* Il y a des champs "value" ou la fréquence pour le salaire n'est pas spécifiée. En premier lieu, je fais l'hypothèse que quand la fréquence n'est pas spécifiée, alors elle correspond au salaire pour tout le film

Dans ce qui suit, vous trouverez les différentes fonctions qui permettent de parser value et récuperer les valeurs voulues en fonctions des caractéristiques et patterns observés et cités ci-dessus

In [ ]:
%%sql

create or replace temp view Salary_temp as (
select id, name,
      TRIM(regexp_extract(value, '_(.+)\\((.+)_', 1)) as title,
       regexp_extract(value, '_(.+)\\((.+)\\)_', 2) as year, 
       regexp_extract(split(value, ('::'))[1], '([0-9,millionMillion. ]+)')as salary,
       if(split(value, ('::'))[1] like '% per %', 
          regexp_extract(split(value, ('::'))[1], '(.*) per (.+)', 2),
          regexp_extract(split(value, ('::'))[1], '(.*)/(.+)', 2)) as frequency,
       if(split(value, ('::'))[1] like '% plus %', 
          regexp_extract(split(value, ('::'))[1], '(plus.*)'),
          regexp_extract(split(value, ('::'))[1], '(\\+.*)')) as extra,
      if (regexp_extract(split(value, '::')[1], '([^0-9 ]*)([0-9,millionMillion. ]+)', 1)=='',
          regexp_extract(split(value, '::')[1], '([^0-9 ]*)([0-9,millionMillion. ]+) ([^ >,+%\\(-]+)', 3),
        regexp_extract(split(value, '::')[1], '([^0-9 ]*)([0-9,millionMillion. ]+)', 1)) as currency
       
from NameDetail where property = "salary history" );

### Récupération de titleId grâce à une jointure 
jointure avec left join afin que les titres non présents dans la table title soient mis à null

In [ ]:
%%sql
create or replace temp view salary_union as (
  select s.id, s.name, t.id as titleId, t.title as TitleName, 
        s.salary, s.frequency, s.extra, s.currency
  from Salary_temp s
  left join TitleDetail t
  where TRIM(s.title)=TRIM(t.title) and s.year=t.production_year
  UNION
  select s.id, s.name, t_a.id as titleId, t_a.title as titleName, 
        s.salary, s.frequency, s.extra, s.currency 
  from Salary_temp s
  left join title_all t_a
  where TRIM(s.title)=TRIM(t_a.title) and s.year=t_a.production_year
);

create or replace temp view Salary as (
  select distinct id, TRIM(name) as name, titleId, TRIM(titleName) as titleName,
          salary, frequency, extra, currency
          from salary_union
);

select * from Salary

#### Question 2 : Height
 **Height**(id, name, heightInCm)  recense la taille d'une personne de manière exploitable, en les reconvertissant en cm, alors que les entrées de la base ont différentes unités de mesure.

## Inspection des valeurs possibles en filtrant la propriété height dans NameDetail

In [ ]:
%%sql 
select * from NameDetail n where n.property="height"

###Remarques:
En explorant les données, je vois qu'il y a deux types d'unités de mesures
* cm
* ' " ( ':foot, ": inch , standard US )

Je fais un test pour voir si ce sont les uniques formats présents:

In [ ]:
%%sql
with T1 as (
select id,  
      if(n.value LIKE '%cm%', n.value, if(n.value LIKE "%\'%", 'b', 'c' )) as v
from NameDetail n
where n.property="height" )

select t.id, t.v , n.value
from T1 t, NameDetail n
where t.v = 'c' and n.id=t.id and n.property="height";

### Remarque:
* La requete T1 permet de retourner la valeur en cm si elle existe, 'b' si la valeur est sous le format ' " et 'c' sinon
* La présence d'un tuple retourné avec la condition de la valeur ='c' signifie qu'il existe bien un autre format. Celui-ci correspond à la présence d'une valeur sans qu'une unité de mesure ne soit spécifiée

In [ ]:
%%sql
select id, n.value
from NameDetail n
where property="height" and id=295225

### Remarque:
* Le format du tuple ci-dessus n'est pas conforme car cm est présent en double dans value
* Il existe un autre tuple avec le format x'z cm ( les deux unités de mesures sont mélangées )

### Tentative de contouner le problème
* hypothèse 1 : si aucune des deux unités n'est spécifié, qu'il y a plus de probabilité que ce soit cm qui soit oublié par rapport à l'oubli de '" qui coupent la valeur et qui serait donc selon moi une erreur moins probable
* hypothèse 2: s'il y a au moins une occurence de la chaine 'cm', l'unité est 'cm'
* hypothèse 3: s'il y a une occurence de la chaine "'" et pas d'occurence de la chaine "cm", alors l'unité de mesure est l'unité feet, inch...
### normalisation des données

In [ ]:
%%sql
create or replace temp view feet_inch_plus as
select id, name, 
        split(value, '\'')[0] as feet, 
        split(split(value, ' ')[1], '\"')[0]  as inch, 
        split(split(value, ' ')[2], "\"")[0] as plus
from NameDetail 
where property="height" and value like "%\'%" and value not like "%cm%";

--  vue qui sépare les feet, les inch et la fraction en plus 
create or replace temp view feet_inch as
select id, name, 
      feet, 
      if(inch is null, 0, inch) as inch, 
      if(plus is null, 0, split(plus, "/")[0]/split(plus, "/")[1]) as plus 
from feet_inch_plus;

In [ ]:
%%sql
-- vue qui à ne garde que les chiffres de value qui comporte "cm"
create or replace temp view cm as 
select n.id, n.name, regexp_replace(n.value, "([^0-9.])", '') as height
from NameDetail n
where n.property="height" and n.value like "%cm%"

In [ ]:
#Requête qui permet d'unir les deux vues e transformant les tailles en feet vers cm 

%%sql
create or replace temp view Height as 
select id, name, 
      concat(height, " cm") as heightInCm
from cm
UNION
select id, name, 
      concat(round((feet*12 + (inch+plus))*2.54, 2), " cm") as heightInCm 
from feet_inch;

select * from Height

#### Question 3 : Magazine

 **MagazineCover**(id, name, magazine, country, day, month, year) donnant le nom du magazine dans lequel la personne est sur la couverture, avec le pays du magazine et la date de parution. Voir la propriété *magazine cover photo*.

### Observation du format

In [ ]:

%%sql 
select * from NameDetail n where n.property="magazine cover photo"

### Remarque:
* format observé dans value: "magazine" (country), day month year, vol. number, Iss. number
* Je remarque parmis un échantillon de valeurs observé qu'il y a des champs value pour lesquels les champs "vol. number" ou "Iss. number" ne sont pas spécifiés ( ou inclusif )
* Certains champs value ne contiennent pas day ou month ( ou inclusif )
* Day: peut avoir un ou deux caractères de type chiffre, à ne pas confondre avec un nom de magazine qui a le même format. Exemple: "21 magazine"(Iran)
* Pour certains champs country, plus de détails sont spécifiés. Exemple: "West Germany". En regardant les dates, nous remarquons que la date associé à ce type de cas correspond à l'époque ou l'Allemagne était séparée en deux. Nous considérons donc que garder l'information tel quel reste pertinent
* Sur certaines champs value, il y a plusieurs valeurs entre parenthèses qui se suivent. Nous considérons que c'est la parenthèse présente après la première virgule qui spécifie le pays
* year au format: YYYY avec Y \in [0, 9]. Specifier la condition d'apparition avant Iss et Vol pour ne pas confondre avec les chiffres suivant ces derniers

In [ ]:
%%sql
create or replace temp view MagazineCover as 
select id, name, value,
        TRIM(regexp_extract(value,'\\"(.+)\\"', 1)) as magazine, 
        TRIM(regexp_extract(split(value,',')[0], "^.*\\((.+)\\).*$")) as country,
        regexp_extract(value, '[^,]+, (Vol\\. [0-9]+, )?(Iss\\. [0-9]+, )?([0-9]{1,2}) ', 3) as day,
        regexp_extract(value,'[^,]+, (Vol\\. [0-9]+, )?(Iss\\. [0-9]+, )?[^a-zA-Z]*([a-zA-Z\\-/ ]*)( [0-9]|$|,)', 3) as month,
        regexp_extract(value, '[^,]+, (Vol\\. [0-9]+, )?(Iss\\. [0-9]+, )?[^a-zA-Z]{0,2}[a-zA-Z \\-/]*[^a-zA-Z]{0,2}(, )?([0-9]{4})', 4) as year
from NameDetail 
where property = "magazine cover photo" ;

select * from MagazineCover

In [ ]:
%%sql
select * from MagazineCover m where m.month="Janauary"

In [ ]:
%%sql
select * from MagazineCover m where m.month="Winter"

In [ ]:
%%sql
select * from MagazineCover m where m.month="Summer"

In [ ]:
%%sql
select * from MagazineCover m where m.month="Spring"

In [ ]:
%%sql
select distinct regexp_extract(value,'[^,]+, (Vol\\. [0-9]+, )?(Iss\\. [0-9]+, )?[^a-zA-Z]*([a-zA-Z\\-/ ]*)( [0-9]|$|,)', 3) as month
from NameDetail 
where property = "magazine cover photo" 
LIMIT 8

In [ ]:
%%sql
select * from MagazineCover m where m.month="Dallas Times Herald"

###Remarque: valeurs mal formatées
* Certains champs extraits dans Month sont mal formatés. Dans la cellule ci-dessus, nous remarquons une faute de syntaxe ( Janauary au lieu de January )
* Certaines champs dans Month correspondent à des saisons. Nous pourrions considérer de rajouter une colonne pour les saisons
* Nous pourrions remédier à cela en faisant des correspondances entre les valeurs abérantes avec l'intervalle de 12 mois bien formaté
* Certains champs month contiennent plusieurs mois séparés par des "/" ou des "-"
* Pour la valeur abérante: Dallas Times Herald, nous remarquons qu'il y a un nom de magazine en plus qui n'est respecte pas le format général ( qui n'est pas entre ""). 
***Conclusion*** 
Il faudrait refaire une deuxième passe sur le tableau résultat pour gérer ces cas particuliers

#### Question 4 : Trivia
Cette question concerne l'extraction de références à des personnes ou à des films dans une description textuelle. L'objectif est de proposer une méthode pour retrouver des références dans un contenu où les références ne sont pas toujours repérées explicitement.
On considère la propriété *trivia* dans NameDetail : on constate que le contenu textuel peut contenir des références à des films ou à d'autres personnes.

Définir deux tables détaillant les anecdotes connues sur des personnes :
- **TitleTrivia** (fromPersonId, fromPersonName, toTitleId, toTitleName, triviaText)
- **NameTrivia** (fromPersonId,  fromPersonName, toPersonId, toPersonName, triviaText)
    
Indications :  
Les attributs *fromPersonId* et *fromPersonName* sont l'id et le nom d'une personne dans NameDetail.

Pour l'attribut *toTitleId* dans TitleTrivia : si le film n'est pas référencé dans la table TitleDetail, essayer de trouver une correspondance dans le fichier contenant tous les films (*cf.* title_full).

Pour le champ *toPersonId* dans NameTrivia : si la personne n'est pas référencée dans la table NameDetail, essayer de trouver une correspondance dans le fichier contenant toutes les personnes (*cf.*  name_full).

Remarque : dans cette question, on se limite aux anecdotes liées à des personnes (propriété *trivia* dans NameDetail). On ne considère pas les anecdoctes liées à des films (propriété *trivia* dans TitleDetail).

In [ ]:
%%sql 
select * from NameDetail n where n.property="trivia"

Nous remarquons que le champs value n'a pas de structure précise. Certaines descriptions contiennent plusieurs propriétés au même temps. Certaines commencent par des verbes, d'autres par des noms et d'autres par un pronom ... Donc spécifier le type de relation est dur. Cependant, nous pouvons éudier la structure des phrases pour récupérer les titres de films ou les noms de personnes.

In [ ]:
%%sql 
select * from NameDetail n where n.property="trivia" and value like '%(qv)%'

###Title Trivia
extraction de références à des films 
* Nous remarquons que les titres des films sont suivi de (qv). Exemple:  _"Bibleman" (1996)_ (qv) 
* Pout faire la jointure avec Title Detail et title_all, nous récupérons l'année de production

In [ ]:
%%sql

--On récupère l'id et le nom de la personne ainsi que le film et l'année cités 
--dans l'anecdote.
create or replace temp view TitleTrivia_temp as (
  select id as fromPersonId, name as fromPersonName,  
        replace(regexp_extract(value, "_\"?(.+?)\"?\s*\\(([0-9]+)\\).*_", 1), "\"", '') as toTitleName, 
        regexp_extract(value, "_\"?(.+?)\"?\s*\\(([0-9]+)\\).*_", 2) as date,
        value as triviaText
  from NameDetail  n
  where n.property="trivia" and value like '%(qv)%');
--Normaliser le titre pour l'avoir au bon format
create or replace temp view TitleTrivia_temp_bis as 
select distinct(t.fromPersonId), t.fromPersonName, t.triviaText, if(regexp_extract(t.toTitleName, "(.+?)\"", 1)="", t.toTitleName, regexp_extract(t.toTitleName, "(.+?)\"", 1)) as toTitleName,t.date
from TitleTrivia_temp t; 
--On fait une union entre les correspondances de TitleDetail et title_all
create or replace temp view TitleTrivia_union as (
  select fromPersonId, fromPersonName, toTitleName, triviaText
  from TitleTrivia_temp_bis tt, TitleDetail nd
  where TRIM(toTitleName)=TRIM(title) and date=production_year
  UNION
  select fromPersonId, fromPersonName, toTitleName, triviaText
  from TitleTrivia_temp_bis tt, title_all ta
  where TRIM(toTitleName)=TRIM(title) and date=production_year
);

--On applique un distinct pour ne pas avoir de doublon
create or replace temp view TitleTrivia as (
  select distinct fromPersonId, 
                  TRIM(fromPersonName) as fromPersonName, 
                  TRIM(toTitleName) as toTitleName, 
                  triviaText
  from TitleTrivia_union
);

select * from TitleTrivia

###Name Trivia
extraction de références à des personnes
* les noms de personnes se trouvent avant (qv). Exemple: 'Adrien Brody' (qv) and 'Robert Evans (I)' (qv) won awards 
* À niter que certains Name ne sont pas pris en compte car ils ne se trouvent pas avant (qv) mais après un with. Exemple: in _Eddie (1996)_ (qv) with 'Whoopi Goldberg'. Aussi que lors de la présence de plusieurs noms dans le détails, tous ne sont pas détéctés

In [ ]:
%%sql

create or replace temp view T4 as 
select n1.id as fromPersonId, n1.name as fromPersonName, regexp_extract(n1.value,".*'(.+?)' [(]qv[)]",1) as toPersonName, n1.value as triviaText
from NameDetail  n1
where n1.property="trivia" and regexp_extract(n1.value,".*'(.+?)' [(]qv[)]",1)!="";

create or replace temp view NameTrivia as 
select distinct(t.fromPersonId), t.fromPersonName, n.id as toPersonId, t.toPersonName, t.triviaText
from T4 t, name_all n
where concat(n.name,imdb_index)=concat(split(t.toPersonName," ")[1],", ",split(t.toPersonName," ")[0], regexp_extract(t.toPersonName,"[(](.+?)[)]",1) ) ;

select * from NameTrivia;

#### Question 5 : Lien IMDB-YAGO

On suppose que certaines personnes sont présentes à la fois dans IMDB et dans YAGO mais elles ne sont pas structurées de la même façon.

5a) Compléter les Personnes existant dans NameDetail avec des informations venant de yago (voir **yagoPerson** et **actorFacts**). 
Pour cela, définir la relation qui donne le lieu de naissance et le conjoint (ou la conjointe) d'une personne :

  - **NameYago** (id, name, yagoName, yagoBirthPlace, yagoSpouse) 

5b) Compléter le contenu de NameYago pour les personnes de IMDB existant dans *name_full*.

### NameYago
observation des types de structurations

In [ ]:
%%sql
select name from NameDetail LIMIT 100

In [ ]:
%%sql
select split(subject, '/')[4] from yagoPerson LIMIT 20

### Remarques
formats:
* Dans NameDetail: Nom, Prénom 
* Dans Yago: Prénom_Nom
Nous allons supprimer les "," et les "_" puis inverser les nom et prénom dans NameDetail pour générer les corrrespondances

In [ ]:
%%sql

-- Création d'une vue qui sépare le nom du prénom dans NameDetail
create or replace temp view Pers_ND_temp as 
  select distinct id, split(name, ',')[0] as l_name, split(name, ',')[1] as f_name
  from NameDetail
;

-- Création d'une vue qui inverse l'ordre du nom et prénom dans la chaine de 
-- caractères name de NameDetail
-- Si seul le nom ou le prénom existe, la chaine de caractère name est retournée 

create or replace temp view Pers_ND as
select distinct n.id, n.name, if (l_name is null or f_name is null, n.name, concat(f_name, ' ', l_name)) as name_normalized
from NameDetail n JOIN Pers_ND_temp t1 ON t1.id = n.id
;

-- Création d'une vue qui :
-- 1) Normalise les noms dans yagoPerson : extraction du nom et prénom.
-- 2) Associe à chaque personne (nom/prénom) les propriétés birthPlace et spouse
--    avec leur valeur, si elles existent
create or replace temp view Pers_Yago as 
select distinct regexp_extract(py.subject, '<http://yago-knowledge.org/resource/(.+)>',1) as name,
              if(py.subject like "%(%)%", 
                            replace(regexp_extract(py.subject, '<http://yago-knowledge.org/resource/(.+)(_\\(.+\\))>',1), '_', ' '),
                            replace(regexp_extract(py.subject, '<http://yago-knowledge.org/resource/(.+)>',1), '_', ' ') ) as name_normalized,
            regexp_extract(f.property, '<http://schema.org/(.+)>') as property,
            replace(regexp_extract(f.object, '<http://yago-knowledge.org/resource/(.+)>'), '_', ' ') as value
from yagoPerson py JOIN actorFacts f ON f.subject = py.subject 
where f.property = '<http://schema.org/birthPlace>' or f.property= '<http://schema.org/spouse>'
;

### Jointure + Schéma
sur le nom et prénom

In [ ]:
%%sql
create or replace temp view NameYago as (
  select distinct TRIM(py.name) as yago_name,
                  TRIM(pnd.name) as nameD_name, 
                  TRIM(py.name_normalized) as name_normalized, 
                  bp.value as birthPlace, 
                  s.value as spouse
  from Pers_Yago py, Pers_ND pnd, 
        (select value, name_normalized from Pers_Yago where property="birthPlace") as bp,
        (select value, name_normalized from Pers_Yago where property="spouse") as s
  where TRIM(py.name_normalized) = TRIM(pnd.name_normalized)
        and TRIM(bp.name_normalized)=TRIM(pnd.name_normalized)
        and TRIM (s.name_normalized)=TRIM(pnd.name_normalized));

select * from NameYago

récupération d'information manquante depuis name_all

In [ ]:
%%sql
select y.yago_name, y.birthPlace, y.spouse, n.name from NameYago y, name_all n

### Exercice 2 : Analyse

On considère la table **RevenuWeekEndFilm**(id, titre, pays, jour, mois, année, revenu, écrans) dont les informations proviennent de la propriété *weekend gross* de TitleDetail
* un week-end est défini par les attributs (jour, mois, année)
* l'attribut *écrans* correspond à la quantité associée au terme *screens*

In [ ]:
%%sql 
select * from TitleDetail t
where t.property="weekend gross"

### Remarques
* format de value: CurrencyAmout (country) (day month year) (nb_screens screen)

#### Question 6 : Restructuration
L'objectif de cette question est de savoir définir une structure complexe contenant des attributs qui ne sont pas des valeurs simples mais les listes, des tuples, des listes de tuples, ...

Définir une table **Film** (id, titre, roles, paysSalles) avec 
 - *roles* est une liste de tuples (acteur, nom, rang) où rang est le numéro d'ordre du rôle (attribut *nr_order*)
 - *paysSalles* est la liste des pays où le film est sorti en salles, triée par revenu dans le pays

### Film
Dans un premier temps, je crée la vue Movie, qui permet de filtrer sur les oeuvres qui sont des films

In [ ]:
%%sql
create or replace temp view Movie as
select id, title
from TitleDetail 
where kind="movie";

Dans un deuxième temps, je fais une jointure avec Cast_info et NameDetail pour pouvoir récupérer les informations manquantes pour construire le tuple
* j'utilise la fonction max pour récupérer le titre associé, je sais que ce n'est pas la fonction la plus optimale en terme de temps de calcul, mais je préfère faire cela que de faire une jointure après. Je pense que c'est negligeable car les données sont parcourues dans tous les cas pour faire le collect_set

In [ ]:
%%sql
create or replace temp view Roles as
select distinct(m.id), max(m.title) as title, collect_set((c.person_id, n.name, c.nr_order)) as roles
from Cast_Info c, NameDetail n, Movie m
where c.person_id=n.id and m.id=c.movie_id
group by m.id;

select * from Roles;

### Salles par pays
#### Obseravations

In [ ]:
%%sql
select * from TitleDetail t where property="gross"

### Remarque
* le format de value pour la propriété "gross" ressemble à celui de la propriétés "weekend gross". Je vais vérifier que les deux ensembles ne sont pas égaux

In [ ]:
%%sql
select t.id from TitleDetail t where property="gross"
minus
select t.id from TitleDetail t where property="weekend gross"

L'existence d'identifiants résultats à la requête ci-dessus prouve l'inégalité des deux ensembles

Je vais maintenant récupérer les informations concernant les pays ou les films sont sortis en salle et les revenus engendrés par pays

In [ ]:
%%sql 
-- extraction du nom du pays et du revenu associé
create or replace temp view Salles as 
select id, title, regexp_extract(split(value,'\\(')[1] , '(.+)\\)') as pays, 
                  replace(regexp_extract(split(value,'\\(')[0], '([0-9,]+)'), ',', '') as revenu
from TitleDetail where property="gross";

--Permet de récuperer le revenu d'un film en fonction du pays
create or replace temp view Revenu as 
select id, pays,sum(revenu) as revenu_total
from Salles
group by id,pays
order by revenu_total DESC;

-- regroupement des films sous forme de liste par id de film 
create or replace temp view SallesRevenu as 
select id, collect_set(pays) as paysSalles
from Revenu
group by id;

select * from SallesRevenu;

###Film (id, titre, roles, paysSalles) 

Jointure entre la vue contenant la liste des roles pour l'attribut roles et la vue contenant la liste des pays pour l'attribut paysSalles

In [ ]:
%%sql 
create or replace temp view Film as
select r.id, r.title, r.roles, s.paysSalles
from Roles r, SallesRevenu s
where r.id=s.id;

select * from Film;

#### Question 7 : Fenêtres
Exprimer les requêtes :

 - 7a) Pour chaque mois, le revenu total des films sortis aux USA durant les 3 derniers mois. Le schéma du résultat est : 
     - (mois, année, revenuMoisCourant, revenu3DerniersMois)
 - 7b) Pour chaque pays, le classement des films par revenu total. Le schéma du résultat est :
      - (pays, id, titre, revenuTotal, classement)
 - 7c) Pour chaque film, la date de début et de fin des périodes où les revenus du week end représentent au moins 10% du revenu total annuel du film. Le schéma du résultat est :
     - (id, titre, revenuAnnuel, annee, mois, jour, revenuWeekEnd, numéroPériode)
       - Indications: Vous pouvez calculer la somme des revenus des différents pays en fixant un taux de conversion de devises. La condition 10% porte sur chaque revenu de week-end (pas de somme cumulée du revenu de la période).

Verifier si tous les films ayant la property gross ont la property weekend gross

In [ ]:
%%sql
select t.id from TitleDetail t where t.property="weekend"
minus
select n1.id
from TitleDetail n1, TitleDetail n2
where n1.id=n2.id and n1.property="weekend gross" and n2.property="gross";

Le résultat ci-dessus étant vide, selon confirme mon hypothèse. Les revenus avec la property weekend gross sont pris en compte dans gross

### Récupération de l'information de date
Pour calculer le revenu total des films sortis aux USA durant les 3 derniers mois, nous devons compléter la table Film avec les dates ( jour, mois, année ). Nous pouvons trouver cette information dans le champ value de la property gross.

### Table RevenuFilm
revenus de manière générale, car la question 7a) ne spécifie pas qu'il faut limiter le calcul aux weekends

In [ ]:
%%sql
create or replace temp view RevenuFilm as
Select distinct

      --id
      id,

      -- titre, 
      title as titre,

      --pays, 
      regexp_extract(value, '([^0-9]*) \\(([a-zA-Z ]*)\\)\\s', 2) as pays,

      --jour,
      regexp_extract(value, '(.*)\\(([0-9]{1,2})\\s([a-zA-Z]*)\\s([0-9]{4})',2) as jour,

      --mois, 
      regexp_extract(value, '(.*)\\(([0-9]{1,2})\\s([a-zA-Z]*)\\s([0-9]{4})',3) as mois,

      --année, 
      regexp_extract(value, '(.*)\\(([0-9]{1,2})\\s([a-zA-Z]*)\\s([0-9]{4})',4) as annee,

      --date : ajouter car il est plus simple de transformer le mois en entier depuis le type date
      to_date(regexp_extract(value,'(.*)\\(([0-9]{1,2}\\s[a-zA-Z]*\\s[0-9]{4})',2),'d MMMM yyyy') as date,

      --revenu : utiliser un regexp_replace afin de pouvoir transformer le string en int, la virgule empêchait cela
      regexp_replace(regexp_extract(value, '([^0-9]*)([0-9,m]+) \\(([^\\)]*)\\)', 2), ',', '') as revenu,

      --écrans : si on a pas les dernieres parenthèses, il n'y a pas d'écrans donc 0 sinon on retournes la valeur
      if(regexp_extract(value, '(.*)\\(([0-9]{1,2})\\s([a-zA-Z]*)\\s([0-9]{4})\\)([^0-9]*)([0-9,]*)',5)='',
         '0',
         regexp_extract(value, '(.*)\\(([0-9]{1,2})\\s([a-zA-Z]*)\\s([0-9]{4})\\)([^0-9]*)([0-9,]*)',6)) as ecrans

From TitleDetail
Where property = 'gross';

Select *
From RevenuFilm


### Vue avec les revenus du mois cours

In [ ]:
%%sql
create or replace temp view currentRev as 
Select annee, 
       month(date) as mois_num, 
       sum(revenu) as revenuMoisCourant
From RevenuFilm
Where pays = 'USA'
Group By annee, mois_num
Order By annee, mois_num;

Select * 
From currentRev;

### requête avec fenêtrage sur cette vue sur l'attribut mois

In [ ]:
%%sql
create or replace temp view Revenu3DerniersMois as 
Select date, 
       revenu,
       sum(revenu) over (order by cast(date as timestamp) RANGE BETWEEN INTERVAL 3 MONTHS PRECEDING AND CURRENT ROW) as revenu3DerniersMois
From RevenuFilm
Where pays = 'USA'
Group By date, revenu
Order By date;

Select * 
From Revenu3DerniersMois

In [ ]:
%%sql

with T as (
Select year(date) as annee, 
       month(date) as mois, 
      last(revenu3DerniersMois) as revenu3DerniersMois
From Revenu3DerniersMois
Group By annee, mois
)

Select rmc.mois_num, rmc.annee, rmc.revenuMoisCourant, T.revenu3DerniersMois
From RevenuMoisCourant rmc
Left Join T On rmc.annee = T.annee and rmc.mois_num = T.mois
Order By rmc.annee, rmc.mois_num

In [ ]:
%%sql

with T as (
Select year(date) as annee, 
       month(date) as mois, 
      last(revenu3DerniersMois) as revenu3DerniersMois
From Revenu3DerniersMois
Group By annee, mois
)

Select rmc.mois_num, rmc.annee, rmc.revenuMoisCourant, T.revenu3DerniersMois
From currentRev rmc
Left Join T On rmc.annee = T.annee and rmc.mois_num = T.mois
Order By rmc.annee, rmc.mois_num

### 7b) Pour chaque pays, le classement des films par revenu total

* on utilise la fonction rank() qui permet d'avoir un ordre selon un attribut donnée en spécifiant l'attribut de partiion qui dans notre cas est le pays, et en spécifiant l'attribut sur lequel évaluer l'ordre du rang

In [ ]:
%%sql
with T as (
Select pays, 
       id, 
       titre, 
       sum(revenu) as revenuTotal
From RevenuFilm
Group By pays, id, titre
Order By pays, id, titre, sum(revenu) desc)

Select pays, id, titre, revenuTotal, rank() over (partition by pays order by revenuTotal desc) as classement
From T
Order By pays, classement

#### 7c) Pour chaque film, la date de début et de fin des périodes où les revenus du week end représentent au moins 10% du revenu total annuel du film
## définition de la table RevenuWeekendFilm

In [ ]:
%%sql

create or replace temp view RevenuWeekEndFilm as
Select distinct

      --id
      id,

      -- titre, 
      title as titre,

      --pays, 
      regexp_extract(value, '([^0-9]*) \\(([a-zA-Z ]*)\\)\\s', 2) as pays,

      --jour,
      regexp_extract(value, '(.*)\\(([0-9]{1,2})\\s([a-zA-Z]*)\\s([0-9]{4})',2) as jour,

      --mois, 
      regexp_extract(value, '(.*)\\(([0-9]{1,2})\\s([a-zA-Z]*)\\s([0-9]{4})',3) as mois,

      --année, 
      regexp_extract(value, '(.*)\\(([0-9]{1,2})\\s([a-zA-Z]*)\\s([0-9]{4})',4) as annee,

      --date : ajouter car il est plus simple de transformer le mois en entier depuis le type date
      to_date(regexp_extract(value,'(.*)\\(([0-9]{1,2}\\s[a-zA-Z]*\\s[0-9]{4})',2),'d MMMM yyyy') as date,

      --revenu : utiliser un regexp_replace afin de pouvoir transformer le string en int, la virgule empêchait cela
      regexp_replace(regexp_extract(value, '([^0-9]*)([0-9,m]+) \\(([^\\)]*)\\)', 2), ',', '') as revenu,

      --écrans : si on a pas les dernieres parenthèses, il n'y a pas d'écrans donc 0 sinon on retournes la valeur
      if(regexp_extract(value, '(.*)\\(([0-9]{1,2})\\s([a-zA-Z]*)\\s([0-9]{4})\\)([^0-9]*)([0-9,]*)',5)='',
         '0',
         regexp_extract(value, '(.*)\\(([0-9]{1,2})\\s([a-zA-Z]*)\\s([0-9]{4})\\)([^0-9]*)([0-9,]*)',6)) as ecrans

From TitleDetail
Where property = 'weekend gross';

Select *
From RevenuWeekEndFilm

#### calcul du revenu annuel pour chaque film

In [ ]:
%%sql
create or replace temp view RevenuAnnuel as 
Select id, 
       titre, 
       annee, 
       sum(revenu) as revenuAnnuel
From RevenuWeekEndFilm
Group By id, titre, annee
Order By id, titre, annee;

Select * 
From RevenuAnnuel

### Revenu par weekend

In [ ]:
%%sql

create or replace temp view RevenuWeekEnd as 
Select id, 
       titre, 
       date, 
       sum(revenu) as revenuWeekEnd
From RevenuWeekEndFilm
Group By id, titre, date
Order By id, titre, date;

Select *
From RevenuWeekEnd

### Ajout de la contrainte de 10%

In [ ]:
%%sql

create or replace temp view Revenu_jointure as 
Select a.id, 
       a.titre, 
       we.date, 
       a.annee, 
       we.revenuWeekEnd, 
       a.revenuAnnuel
From RevenuWeekEnd we
Left Join RevenuAnnuel as a On we.id = a.id and a.titre = we.titre and year(we.date) = annee
Where (we.revenuWeekEnd > a.revenuAnnuel*0.1)
Order By date;

Select * 
From Revenu_jointure

numérotation des périodes avec

In [ ]:
%%sql
Select id, 
       titre, 
       revenuAnnuel, 
       annee, 
       month(date) as mois, 
       day(date) as jour, 
       revenuWeekEnd,
       rank() over (partition by id order by date) as numeroPeriode
From Revenu_jointure